/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.smart-gantt-button-container {
	display: flex;
	justify-content: center;
	padding-bottom: 10vh;

}

.smart-gantt-refresh-button {
	margin: 0 5px;



}
